<html>
	<head>
		<title>CityRunning</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
	</head>
  
	<body>
		<div class="log-form">
			<h2>Register your account</h2>
			<form action="" method="post">
				<input type="text" placeholder="Username" name="username" value="{{ request.form.username }}"><br>
				<input type="password" placeholder="Password" name="password" value="{{ request.form.password }}" ><br>
				<input type="password" placeholder="Repeat Password" name="repeatpassword" value="{{ request.form.password }}"><br>
				<input type="submit" name="Button" value="Not now!">
				<input type="submit" name="Button" value="Register">
			</form>
			{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }}
			{% endif %}
		</div><!--end log form -->
	</body>
</html>
